<%- include('header_admin') %>

    <section id="hero" class="section-p">
        <h1>Bienvenu(e) sur l'espace administrateur</h1>
        <img src="img/admin-logo.jpg" alt="">
    </section>
   
   
<%- include('../layout/footer') %>