<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-learning</title>
    <link rel="shortcut icon" href="img/logo2.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
    <section id="header" class="header">
        <a href="/espace-administrateur" class="brand"><img src="img/admin-logo.jpg" alt="LOGO" class="rounded-circle"><%= profilAdmin.nom %></a>
    
        <ul id="navbar">     
            <li><a href="/gestion-des-etudiants" ><i class="fa-solid fa-user-graduate"></i>étudiants</a></li>
            <li><a href="/gestion-des-enseignants" ><i class="fa-solid fa-person-chalkboard"></i>enseignants</a></li>
            <li><a href="/gestion-des-filieres" ><i class="fa-solid fa-layer-group"></i>filière</a></li>
            <li><a href="/gestion-des-groupes" ><i class="fa-solid fa-users-rectangle"></i>Groupe</a></li>
            <li><a href="/gestion-des-modules" ><i class="fa-solid fa-file"></i>Modules</a></li>
            <li><a href="/mon-profil" ><i class="fa-solid fa-user-tie"></i> Mon profil</a></li>
            <li><a href="/boite-de-reception" ><i class="fa-solid fa-bell"></i><span>12</span> </a></li>
            <li><a class="logout" href="/logout" onclick="return confirm('Déconnexion en cours... OK ?')"><i class="fa-solid fa-right-from-bracket"></i>Déconnexion</a></li>
            
            <a href="#" id="close"><i class="fa-regular fa-circle-xmark"></i></a>  
        </ul>
        <div id="mobile">
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>