<%- include('header_admin') %>

   
    <section id="banner" class="section-p">
        <% if(title == "filiere") { %> 
            <h1>Ajouter une nouvelle filière</h1>
        <% } else if(title == "groupe") { %> 
            <h1>Ajouter un nouveau groupe</h1>
        <% } else if(title == "module") { %> 
            <h1>Ajouter un nouveau module</h1>
        <% } %>
        
    </section>

   
    <section id="add_formulaire" class="section-p">
        <form action="/add_content" method="post">
            <div class="row">
                <div class="col-md-12">
                    <input type="text" id="libelle" name="libelle"  class="form-control" placeholder="Libelle *" required>
                    <input type="text" name="title" value="<%= title %>" hidden>
                </div>
               
            </div>
           
            <div class="form-btn">
                <button class="normal">enrégistrer maintenant</button>
            </div>
            

        </form>
   </section>
   

   

   
<%- include('../layout/footer') %>