<%- include('header_admin') %>

   
    <section id="banner" class="section-p">
        <h1>Vos informations personnelles</h1>
    </section>

    <section id="profil" class="section-p">
       <div class="profil-body">
            <div class="profil-avatar">
                <img src="img/admin-logo.jpg" alt="" class="rounded-circle">
                <h4>
                    John John <br>
                    <span>administrateur</span>
                </h4>
                
            </div>
        
            <div class="profil-info">
                <p><i class="fa-solid fa-envelope"></i> admin@exemple.com</p>
                <p><i class="fa-solid fa-phone"></i> (+216) 00 000 000</p>
                <p><i class="fa-solid fa-location-dot"></i> Av Mohame V</p>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a> 
            </div>
       </div>

       
    </section>


   
<%- include('../layout/footer') %>