<%- include('header_enseignant') %>

    <section id="hero" class="section-p">
        <h1>Espace Enseignant</h1>
        <img src="img/teacher.png" alt="">
    </section>
   
   
<%- include('../layout/footer') %>