
<footer>
    <p>Tout droit réservé <span>projet.pfe - elearning - </span>  By SAMY <i class="fa-solid fa-face-smile"></i></p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="script.js"></script>
</body>
</html>