<section id="container">
    <div id="sidebar" class="section-p">
        <div id="mobile">
            Menu <i id="bar" class="fa-solid fa-bars"></i>
        </div>
        <div class="side-header">
            <img src="img/avatar_white.png" alt="">
            <p>SAMUEL Samuel</p>
        </div>
        <hr>
        <div class="side-link">
            <a href="">  <i class="fa-solid fa-user-tie"></i>mon profil</a>
            <a href="">  <i class="fa fa-book"></i>gerer mes cours</a>
            <a href="" onclick="return confirm('Déconnexion en cours... Oui/Non ?'); window.location.href='index.html'">  <i class="fa-solid fa-right-from-bracket"></i>déconnexion</a>
        </div>
    </div>

    <div id="hero">
        <h1>Bienvenu(e) M./Mme/Mlle SAMUEL</h1>
        <img src="img/teacher.png" alt="">
    </div>
</section>

<div id="cbox">
    <h4>Algèbre</h4>
    <embed src=docs/bulletin.pdf type='application/pdf'/>
    <div>
        <i class="fa-solid fa-eye"></i>
        <i class="fa-solid fa-trash"></i>
    </div>
</div>

<div id="add" class="section-p container" onclick="window.location.href='nouveau_cours.html'">
    <button class="normal"> <i class="fa-solid fa-book-medical"></i> Ajouter un nouveau cours</button>
</div>
<i class="fa-solid fa-file-pdf" style="color: #f20d52;"></i>