<%- include('header_etudiant') %>

    <section id="hero" class="section-p">
        <h1>Espace Etudiant</h1>
        <img src="img/av_student.jpeg" alt="">
    </section>
        
   
<%- include('../layout/footer') %>